.bridge {
  margin-top: 28px;
  font-weight: 800;
  color: #424242;
  display: flex;
  flex-direction: column;
  flex: 0 0 28px;
  border-right: 8px solid #424242;
}

.bridge-note {
  height: 28px;
  display: flex;
}

.bridge-label {
  display: flex;
  align-items: center;
}

.bridge-label.active {
  color: var(--text-color);
}
